[submodule "Reder/modules/spdlog"]
	path = Reder/modules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Reder/modules/glfw"]
	path = Reder/modules/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "Reder/modules/imgui"]
	path = Reder/modules/imgui
	url = https://github.com/TheCherno/imgui.git
	branch=docking
[submodule "Reder/modules/glm"]
	path = Reder/modules/glm
	url = https://github.com/g-truc/glm.git