# Directories
.vs/
bin/
bin-int/



# Files
*.user


#modules glm exclude files
Reder/modules/glm/glm/**.html
Reder/modules/glm/glm/**.txt
Reder/modules/glm/glm/**.cmake
Reder/modules/glm/cmake/
Reder/modules/glm/test/
Reder/modules/glm/doc/
Reder/modules/glm/glm-master/
Reder/modules/glm/util/